
/* Background properties */
body {
   background-color: #f5f5f5;
    background-size: 100%;
}
h1 {
    color: black;
}
h2 {
    color: black;
}
h3 {
    color: black;
}

/* Capitalizes the first letter */
.capitalize{
    text-transform: capitalize;
}


/* Menu bar */
.navbar-default {
    background-color: #005EB3;
    border-color: #005EB3;
    margin-bottom: 0;
}

.navbar-default li a{
    color: white !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #1C9E75;
}

.navbar-default .navbar-nav .active {
    background-color: #1C9E75;
}


/* Set header background to white */
.logo {
    background-color: white;
    padding: 10px;
}

/*Resize logo */
.resize {
    width: 500px;
    height: auto;
}

/* Footer element at the bottom of each page */

footer {
    width: 100%;
    height: fit-content;
    background-color: #005EB3;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
    color: #97CADB;
}

footer .office-block {
    width: 128px;
    margin-right: 32px;
    margin-bottom: 32px;
    float: left;
}

footer a {
    float: right;
    margin-left: 16px;
}

footer .input-group {
    width: 300px;
}

footer #newsletterMsg {
    display: inline-block;
}


.form-control{
    width: auto;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.picture {
    max-width: 256px;
    max-height: 144px;
    border-radius: 5%;
}

img {
    border: none;
    height: 250px;
    width: 512px;
}

img-article {
    border: none;
    height: 288px;
    width: 512px;
}


.article-title{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.img-right{
    display:block;
    margin-left:auto
}

.img-left{
    display:block;
    margin-right:auto
}


/* Primary button */

.btn-primary:hover{
    background-color: #1C9E75;
}

.btn-primary:focus{
    background-color: #1C9E75;
}

.btn-primary:active{
    background-color: #0088FF;
}

/* Page navigator at the top of each page
.page-navigator * {
    color: lightslategrey;
} */

.scrollabletextbox{
    height:300px;
    width:800px;
    overflow: auto;
    resize:none;
    border-radius: 5px;
    margin-left: 15px;
}

.post_commentbox {
    display: inline;
    float: left;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    padding: 5px 0px
}
/*
.post_commentbox a, .post_commentbox span {
    color: #798992;
    font-size: 11px;
    margin-right: 5px
}

.post_commentbox a > i, .post_commentbox span > i {
    margin-right: 5px
}
*/
.action-link {
    font-size: 16px;
}

/* Images and image containers */
.news-image {
    width: 60%;
    alignment: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}


.picture-container {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 256px);
}

/* Container holds all the page elements */
.container {
    max-width: 1100px;
    height: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: white;
}

/* Display of various content in a grid-based layout */

.content-container {
    justify-content: center;
    display: grid;
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    alignment: center;
    /*grid-row-start: 1;*/
    grid-template-columns: repeat(auto-fill, 450px);
    margin-bottom: 50px;
}

.content-description {
    padding: 50px;
}

.content-block {
    border-radius: 10px;
    width: 450px;
    height: 400px;
    /*background-color: ghostwhite; */
    padding: 50px;
}

.comment-block {
    border-radius: 10px;
    width: 600px;
    height: 100px;
    background-color: ghostwhite;
    padding: 10px;
}

.comment-container {
    justify-content: center;
    display: grid;
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    alignment: center;
    /*grid-row-start: 1;*/
    grid-template-columns: repeat(auto-fill, 800px);
    margin-bottom: 50px;
}
.content-name {
    text-align: center;
}

.content-image {
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-block-image {
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-block-image:hover {
    opacity: 0.75
}

.content-block .btn-primary {
    float: right;
    vertical-align: bottom;
}

/*Comment form */
#respond {
    margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;

    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

    line-height: 1.4em;
}

/*Horizontal text scroll */
/* Make it a marquee */
.marquee{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: #F8F8F8;
    min-height: 75px;
    max-height: 100px;
}

.marquee span{
    display: inline-block;
    padding-left: 100%;
    -webkit-animation:scroll 10s infinite linear;
    margin-top: 20px;
    background-color: #F8F8F8;
}

.Marquee{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
   /* background-color: #F8F8F8; */
    min-height: 50px;
    max-height: 50px;
}

.MarqueeContent{
    display: flex;
    padding-left: 100%;
    -webkit-animation:scroll 25s infinite linear;
    margin-top: 10px;
    margin-bottom: 10px;
   /* background-color: #F8F8F8; */
    width: 30px;
    height: 50px;
}


@-webkit-keyframes scroll{
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-230%);
    }

}

.scroll-block {
    border-radius: 10px;
    width: 50px;
    height: 100px;
    background-color: ghostwhite;
    padding: 10px;
}

/*
.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

/* Make it move *//*
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
} */

/*
-webkit-animation: scroll 10s infinite linear;

@-webkit-keyframes scroll{
0%{
-webkit-transform: translate(0,0)
}
*/


