
/* Background properties */

body {
   background-color: #f5f5f5;
    background-size: 100%;
}

/* heading properties */

h1 {
    color: black;
}
h2 {
    color: black;
}
h3 {
    color: black;
}


/* Set header background to white */

header {
    background-color: white;
    width: 100%;

}
.logo {
    background-color: white;
    width: 300px;
    height: auto;
}


/* Footer element at the bottom of each page */

footer {
    width: 100%;
    height: fit-content;
    background-color: rgb(52,58,64);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
    color: rgb(138,157,160);
}

img {
    border: none;
    height: 250px;
    width: 512px;
}

.article-title{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}


/* Primary button */

.btn-primary{
    background-color: rgb(52,58,64);
}

.btn-primary:hover{
    background-color: rgb(138,157,160);
}

.btn-primary:focus{
    background-color: rgb(138,157,160);
}

.btn-primary:active{
    background-color: rgb(52,58,64);
}


/* Images and image containers */

.news-image {
    width: 60%;
    alignment: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Container holds all the page elements */

.container {
    max-width: 1000px;
    height: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: white;
}


/* Container which holds picture elements*/

.picture-container {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 256px);
}


/* Display of various content in a grid-based layout */

.content-container {
    justify-content: center;
    display: grid;
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    alignment: center;
    grid-template-columns: repeat(auto-fill, 450px);
    margin-bottom: 50px;
}

.content-description {
    white-space: pre-line;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.content-block {
    border-radius: 10px;
    width: 450px;
    height: 400px;
    /*background-color: ghostwhite; */
    padding: 50px;
}

.content-name {
    text-align: center;
}

.content-image {
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-block-image {
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-block-image:hover {
    opacity: 0.75
}

.block-name{
    width: 100%;
    height: 15%
}

/* comment container */

.comment-container {
    justify-content: center;
    display: grid;
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    alignment: center;
    grid-template-columns: repeat(auto-fill, 800px);
    margin-bottom: 50px;
}

.comment-block {
    word-break: break-word;
    hyphens: auto;
    display: inline-block;
    border-radius: 10px;
    width: 600px;
    height: 120px;
    background-color: ghostwhite;
    padding: 10px;
}


/*Horizontal text scroll */

.Marquee{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    min-height: 50px;
    max-height: 50px;
}

.MarqueeContent{
    display: flex;
    padding-left: 100%;
    -webkit-animation:scroll 30s infinite linear;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 30px;
    height: 50px;
    font-size: 20px;
}

@-webkit-keyframes scroll{
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-230%);
    }
}

/*horizontal line*/

hr {
    margin-top: 70px;
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color:black;
    height: 1px;
}


