variables:
  MYSQL_DATABASE: andinel
  MYSQL_ROOT_PASSWORD: 4BA61FfC


test:
  image: node:latest
  services:
    - mysql:5 # The JS mysql-library does not yet support the newest mysql protocol
  script:
    - npm install -g flow-bin
    - cd server && npm install && npm test && flow check src
    - cd ../client && npm install && npm test && flow check src

# Install node libraries
before_script:
  - npm install
# Run JEST tests
run_tests:
stage: test
script:
  - npm test
artifacts:
paths:
  - coverage/
